n8n-workflow/tevi-autopilot-v5.json
{
  "name": "TEVI Autopilot v5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 * * * *"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "no-op-stop",
      "name": "No Op (Stop)",
      "type": "n8n-nodes-base.stopAndDo",
      "typeVersion": 1,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "jsCode": "// Photo Config\nconst now = new Date();\nconst minute = now.getMinutes();\n\n// Sub-type: 20-min rotation\nlet photoSubtype;\nif (minute < 20) photoSubtype = 'photo';\nelse if (minute < 40) photoSubtype = 'album';\nelse photoSubtype = 'photo';\n\n// GDrive folder: photo root\nconst gdriveFolderId = 'YOUR_PHOTO_FOLDER_ID';\nconst gdriveGetSubfolder = true; // set false if no subfolders\n\nconst captions = [\n  '✨ Love this vibes',\n  '🔥 Check this out',\n  '💖 New post just for you',\n  '💫 Fresh content daily',\n  '❤️ Double tap if you love it'\n];\n\nreturn {\n  uploadType: 'photo',\n  subtype: photoSubtype,\n  gdriveFolderId,\n  gdriveGetSubfolder,\n  collection: null,\n  caption: captions[Math.floor(Math.random() * captions.length)],\n  audienceFree: true,\n  audiencePaid: false,\n  audiencePrice: null,\n  audienceMembership: false,\n  alwaysMembers: false,\n  fileName: null\n};"
      },
      "id": "config-photo",
      "name": "Photo Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },
    {
      "parameters": {
        "jsCode": "// Video Config\nconst now = new Date();\nconst minute = now.getMinutes();\n\n// Sub-type: 20-min rotation\nlet videoSubtype;\nif (minute < 20) videoSubtype = 'short';\nelse if (minute < 40) videoSubtype = 'medium';\nelse videoSubtype = 'dance';\n\n// GDrive folder: video root + subtype subfolder\nconst gdriveFolderId = 'YOUR_VIDEO_FOLDER_ID';\nconst subtypeFolders = { short: 'short', medium: 'medium', dance: 'dance' };\nconst gdriveSubfolder = subtypeFolders[videoSubtype];\nconst gdriveGetSubfolder = true;\n\nconst captions = [\n  '🔥 New video just dropped',\n  '💃 Dance video alert',\n  '🎬 Fresh content incoming',\n  '✨ Watch till the end',\n  '❤️ Like & follow'\n];\n\nreturn {\n  uploadType: 'video',\n  subtype: videoSubtype,\n  gdriveFolderId,\n  gdriveSubfolder,\n  gdriveGetSubfolder,\n  collection: null,\n  caption: captions[Math.floor(Math.random() * captions.length)],\n  audienceFree: false,\n  audiencePaid: true,\n  audiencePrice: 10,\n  audienceMembership: false,\n  alwaysMembers: false,\n  fileName: null\n};"
      },
      "id": "config-video",
      "name": "Video Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "jsCode": "// Porn Config\nconst now = new Date();\nconst minute = now.getMinutes();\n\n// Sub-type: 20-min rotation\nlet pornSubtype;\nif (minute < 20) pornSubtype = 'hentai';\nelse if (minute < 40) pornSubtype = 'japanese';\nelse pornSubtype = 'amerika';\n\nconst gdriveFolderId = 'YOUR_PORN_FOLDER_ID';\nconst subtypeFolders = { hentai: 'hentai', japanese: 'japanese', amerika: 'amerika' };\nconst gdriveSubfolder = subtypeFolders[pornSubtype];\nconst gdriveGetSubfolder = true;\n\nconst captions = [\n  '🔞 18+ content',\n  '💦 NSFW post',\n  '🔥 Adult content only',\n  '⚠️ 18+ viewers only'\n];\n\nreturn {\n  uploadType: 'porn',\n  subtype: pornSubtype,\n  gdriveFolderId,\n  gdriveSubfolder,\n  gdriveGetSubfolder,\n  collection: '18+',\n  caption: captions[Math.floor(Math.random() * captions.length)],\n  audienceFree: false,\n  audiencePaid: true,\n  audiencePrice: 15,\n  audienceMembership: true,\n  alwaysMembers: true,\n  fileName: null\n};"
      },
      "id": "config-porn",
      "name": "Porn Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "type-photo", "leftValue": "{{ $vars.uploadType }}", "rightValue": "photo", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-photo",
      "name": "If Photo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "type-video", "leftValue": "{{ $vars.uploadType }}", "rightValue": "video", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-video",
      "name": "If Video",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "type-porn", "leftValue": "{{ $vars.uploadType }}", "rightValue": "porn", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-porn",
      "name": "If Porn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 600]
    },
    {
      "parameters": {
        "operation": "list",
        "fileIds": [],
        "conditions": {
          "conditions": [
            {"name": "mimeType", "value": "image/jpeg", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "image/png", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "image/gif", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "image/webp", "options": {"caseSensitive": true}}
          ],
          "options": {}
        },
        "options": {}
      },
      "credentials": {"googleDriveOAuth2Api": {"id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID", "name": "Google Drive OAuth2 API"}},
      "id": "gdrive-photo",
      "name": "GDrive List Photos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1.3,
      "position": [700, 200]
    },
    {
      "parameters": {
        "operation": "list",
        "fileIds": [],
        "conditions": {
          "conditions": [
            {"name": "mimeType", "value": "video/mp4", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "video/quicktime", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "video/x-matroska", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "video/webm", "options": {"caseSensitive": true}}
          ],
          "options": {}
        },
        "options": {}
      },
      "credentials": {"googleDriveOAuth2Api": {"id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID", "name": "Google Drive OAuth2 API"}},
      "id": "gdrive-video",
      "name": "GDrive List Videos",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1.3,
      "position": [700, 400]
    },
    {
      "parameters": {
        "operation": "list",
        "fileIds": [],
        "conditions": {
          "conditions": [
            {"name": "mimeType", "value": "video/mp4", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "video/quicktime", "options": {"caseSensitive": true}},
            {"name": "mimeType", "value": "video/x-matroska", "options": {"caseSensitive": true}}
          ],
          "options": {}
        },
        "options": {}
      },
      "credentials": {"googleDriveOAuth2Api": {"id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID", "name": "Google Drive OAuth2 API"}},
      "id": "gdrive-porn",
      "name": "GDrive List Porn",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1.3,
      "position": [700, 600]
    },
    {
      "parameters": {
        "jsCode": "// Pick one random file from GDrive list\nconst files = $input.all();\nif (!files || files.length === 0) {\n  throw new Error('no_file_in_gdrive');\n}\n\nconst randomFile = files[Math.floor(Math.random() * files.length)].json;\n\n// Get config from previous nodes\nconst cfg = $('Photo Config').first().json;\n\nreturn {\n  json: {\n    ...cfg,\n    fileName: randomFile.name,\n    gdriveFileId: randomFile.id,\n    gdriveMimeType: randomFile.mimeType,\n    gdriveSize: randomFile.size\n  }\n};"
      },
      "id": "random-pick-photo",
      "name": "Random Pick Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Pick one random file from GDrive list\nconst files = $input.all();\nif (!files || files.length === 0) {\n  throw new Error('no_file_in_gdrive');\n}\n\nconst randomFile = files[Math.floor(Math.random() * files.length)].json;\n\nconst cfg = $('Video Config').first().json;\n\nreturn {\n  json: {\n    ...cfg,\n    fileName: randomFile.name,\n    gdriveFileId: randomFile.id,\n    gdriveMimeType: randomFile.mimeType,\n    gdriveSize: randomFile.size\n  }\n};"
      },
      "id": "random-pick-video",
      "name": "Random Pick Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "jsCode": "// Pick one random file from GDrive list\nconst files = $input.all();\nif (!files || files.length === 0) {\n  throw new Error('no_file_in_gdrive');\n}\n\nconst randomFile = files[Math.floor(Math.random() * files.length)].json;\n\nconst cfg = $('Porn Config').first().json;\n\nreturn {\n  json: {\n    ...cfg,\n    fileName: randomFile.name,\n    gdriveFileId: randomFile.id,\n    gdriveMimeType: randomFile.mimeType,\n    gdriveSize: randomFile.size\n  }\n};"
      },
      "id": "random-pick-porn",
      "name": "Random Pick Porn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "fileId": "={{ $json.gdriveFileId }}",
        "fileFormat": "fileObject"
      },
      "credentials": {"googleDriveOAuth2Api": {"id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID", "name": "Google Drive OAuth2 API"}},
      "id": "gdrive-download-photo",
      "name": "GDrive Download Photo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1.3,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "fileId": "={{ $json.gdriveFileId }}",
        "fileFormat": "fileObject"
      },
      "credentials": {"googleDriveOAuth2Api": {"id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID", "name": "Google Drive OAuth2 API"}},
      "id": "gdrive-download-video",
      "name": "GDrive Download Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1.3,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "fileId": "={{ $json.gdriveFileId }}",
        "fileFormat": "fileObject"
      },
      "credentials": {"googleDriveOAuth2Api": {"id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID", "name": "Google Drive OAuth2 API"}},
      "id": "gdrive-download-porn",
      "name": "GDrive Download Porn",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1.3,
      "position": [1100, 600]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileName": "={{ $json.fileName }}",
        "path": "={{ $env.VPS_UPLOAD_DIR }}",
        "options": {}
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "sftp-upload-photo",
      "name": "SFTP Upload Photo",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileName": "={{ $json.fileName }}",
        "path": "={{ $env.VPS_UPLOAD_DIR }}",
        "options": {}
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "sftp-upload-video",
      "name": "SFTP Upload Video",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "operation": "upload",
        "fileName": "={{ $json.fileName }}",
        "path": "={{ $env.VPS_UPLOAD_DIR }}",
        "options": {}
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "sftp-upload-porn",
      "name": "SFTP Upload Porn",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [1300, 600]
    },
    {
      "parameters": {
        "jsCode": "// Build upload payload for VPS\nconst cfg = $input.first().json;\nconst now = new Date();\nconst ts = now.toISOString().replace(/[:.]/g, '-').slice(0, 19);\n\n// N8N Credentials — references to named credentials\nconst email = $credentials.tevi.email;\nconst password = $credentials.tevi.password;\n\nconst payload = {\n  email,\n  password,\n  filePath: $env.VPS_UPLOAD_DIR + '/' + cfg.fileName,\n  caption: cfg.caption,\n  collection: cfg.collection,\n  audienceFree: cfg.audienceFree,\n  audiencePaid: cfg.audiencePaid,\n  audiencePrice: cfg.audiencePrice,\n  audienceMembership: cfg.audienceMembership,\n  alwaysMembers: cfg.alwaysMembers,\n  _cfg: cfg\n};\n\n// Archive name with timestamp\nconst ext = cfg.fileName.split('.').pop();\nconst baseName = cfg.fileName.replace(/\\.[^.]+$/, '');\nconst archiveName = `${baseName}_${cfg.uploadType}_${ts}.${ext}`;\n\nreturn {\n  json: {\n    ...payload,\n    archiveName,\n    originalFileName: cfg.fileName\n  }\n};"
      },
      "id": "build-payload-photo",
      "name": "Build Payload Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "jsCode": "// Build upload payload for VPS\nconst cfg = $input.first().json;\nconst now = new Date();\nconst ts = now.toISOString().replace(/[:.]/g, '-').slice(0, 19);\n\nconst email = $credentials.tevi.email;\nconst password = $credentials.tevi.password;\n\nconst payload = {\n  email,\n  password,\n  filePath: $env.VPS_UPLOAD_DIR + '/' + cfg.fileName,\n  caption: cfg.caption,\n  collection: cfg.collection,\n  audienceFree: cfg.audienceFree,\n  audiencePaid: cfg.audiencePaid,\n  audiencePrice: cfg.audiencePrice,\n  audienceMembership: cfg.audienceMembership,\n  alwaysMembers: cfg.alwaysMembers,\n  _cfg: cfg\n};\n\nconst ext = cfg.fileName.split('.').pop();\nconst baseName = cfg.fileName.replace(/\\.[^.]+$/, '');\nconst archiveName = `${baseName}_${cfg.uploadType}_${ts}.${ext}`;\n\nreturn {\n  json: {\n    ...payload,\n    archiveName,\n    originalFileName: cfg.fileName\n  }\n};"
      },
      "id": "build-payload-video",
      "name": "Build Payload Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "jsCode": "// Build upload payload for VPS\nconst cfg = $input.first().json;\nconst now = new Date();\nconst ts = now.toISOString().replace(/[:.]/g, '-').slice(0, 19);\n\nconst email = $credentials.tevi.email;\nconst password = $credentials.tevi.password;\n\nconst payload = {\n  email,\n  password,\n  filePath: $env.VPS_UPLOAD_DIR + '/' + cfg.fileName,\n  caption: cfg.caption,\n  collection: cfg.collection,\n  audienceFree: cfg.audienceFree,\n  audiencePaid: cfg.audiencePaid,\n  audiencePrice: cfg.audiencePrice,\n  audienceMembership: cfg.audienceMembership,\n  alwaysMembers: cfg.alwaysMembers,\n  _cfg: cfg\n};\n\nconst ext = cfg.fileName.split('.').pop();\nconst baseName = cfg.fileName.replace(/\\.[^.]+$/, '');\nconst archiveName = `${baseName}_${cfg.uploadType}_${ts}.${ext}`;\n\nreturn {\n  json: {\n    ...payload,\n    archiveName,\n    originalFileName: cfg.fileName\n  }\n};"
      },
      "id": "build-payload-porn",
      "name": "Build Payload Porn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 600]
    },
    {
      "parameters": {
        "url": "={{ $env.VPS_UPLOAD_URL }}/upload",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "email", "value": "={{ $json.email }}"},
            {"name": "password", "value": "={{ $json.password }}"},
            {"name": "filePath", "value": "={{ $json.filePath }}"},
            {"name": "caption", "value": "={{ $json.caption }}"},
            {"name": "collection", "value": "={{ $json.collection }}"},
            {"name": "audienceFree", "value": "={{ $json.audienceFree }}"},
            {"name": "audiencePaid", "value": "={{ $json.audiencePaid }}"},
            {"name": "audiencePrice", "value": "={{ $json.audiencePrice }}"},
            {"name": "audienceMembership", "value": "={{ $json.audienceMembership }}"},
            {"name": "alwaysMembers", "value": "={{ $json.alwaysMembers }}"}
          ]
        },
        "options": {
          "timeout": 600000,
          "maxRetries": 3,
          "retryWaitMillis": 5000
        }
      },
      "id": "http-upload-photo",
      "name": "HTTP Upload Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.VPS_UPLOAD_URL }}/upload",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "email", "value": "={{ $json.email }}"},
            {"name": "password", "value": "={{ $json.password }}"},
            {"name": "filePath", "value": "={{ $json.filePath }}"},
            {"name": "caption", "value": "={{ $json.caption }}"},
            {"name": "collection", "value": "={{ $json.collection }}"},
            {"name": "audienceFree", "value": "={{ $json.audienceFree }}"},
            {"name": "audiencePaid", "value": "={{ $json.audiencePaid }}"},
            {"name": "audiencePrice", "value": "={{ $json.audiencePrice }}"},
            {"name": "audienceMembership", "value": "={{ $json.audienceMembership }}"},
            {"name": "alwaysMembers", "value": "={{ $json.alwaysMembers }}"}
          ]
        },
        "options": {
          "timeout": 600000,
          "maxRetries": 3,
          "retryWaitMillis": 5000
        }
      },
      "id": "http-upload-video",
      "name": "HTTP Upload Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.VPS_UPLOAD_URL }}/upload",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "email", "value": "={{ $json.email }}"},
            {"name": "password", "value": "={{ $json.password }}"},
            {"name": "filePath", "value": "={{ $json.filePath }}"},
            {"name": "caption", "value": "={{ $json.caption }}"},
            {"name": "collection", "value": "={{ $json.collection }}"},
            {"name": "audienceFree", "value": "={{ $json.audienceFree }}"},
            {"name": "audiencePaid", "value": "={{ $json.audiencePaid }}"},
            {"name": "audiencePrice", "value": "={{ $json.audiencePrice }}"},
            {"name": "audienceMembership", "value": "={{ $json.audienceMembership }}"},
            {"name": "alwaysMembers", "value": "={{ $json.alwaysMembers }}"}
          ]
        },
        "options": {
          "timeout": 600000,
          "maxRetries": 3,
          "retryWaitMillis": 5000
        }
      },
      "id": "http-upload-porn",
      "name": "HTTP Upload Porn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "upload-success", "leftValue": "{{ $json.success }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success-photo",
      "name": "Check Success Photo",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "upload-success", "leftValue": "{{ $json.success }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success-video",
      "name": "Check Success Video",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1900, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [{"id": "upload-success", "leftValue": "{{ $json.success }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success-porn",
      "name": "Check Success Porn",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1900, 600]
    },
    {
      "parameters": {
        "operation": "rename",
        "fromPath": "={{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}",
        "toPath": "={{ $env.VPS_ARCHIVE_DIR }}/{{ $json.archiveName }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "archive-file-photo",
      "name": "Archive File Photo",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 150]
    },
    {
      "parameters": {
        "operation": "rename",
        "fromPath": "={{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}",
        "toPath": "={{ $env.VPS_ARCHIVE_DIR }}/{{ $json.archiveName }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "archive-file-video",
      "name": "Archive File Video",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 350]
    },
    {
      "parameters": {
        "operation": "rename",
        "fromPath": "={{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}",
        "toPath": "={{ $env.VPS_ARCHIVE_DIR }}/{{ $json.archiveName }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "archive-file-porn",
      "name": "Archive File Porn",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 550]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "ls -t \"{{ $env.VPS_ARCHIVE_DIR }}\" | grep -v '^\\.' | tail -n +11 | xargs -d '\\n' rm -f 2>/dev/null || true"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "fifo-cleanup",
      "name": "FIFO Cleanup",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2300, 150]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "rm -f \"{{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}\""
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "delete-file-photo",
      "name": "Delete Uploaded Photo",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 150]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "rm -f \"{{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}\""
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "delete-file-video",
      "name": "Delete Uploaded Video",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 350]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "rm -f \"{{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}\""
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "delete-file-porn",
      "name": "Delete Uploaded Porn",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 550]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "={{ $env.VPS_ARCHIVE_DIR }}",
        "options": {}
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "check-lock",
      "name": "Check Lock File",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [150, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "fileName": "={{ $env.VPS_LOCK_FILE }}",
        "fileContent": "={{ $now.toISOString() }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "create-lock",
      "name": "Create Lock File",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2500, 150]
    },
    {
      "parameters": {
        "operation": "delete",
        "filePath": "={{ $env.VPS_LOCK_FILE }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "delete-lock",
      "name": "Delete Lock File",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2500, 250]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "={{ $env.VPS_ARCHIVE_DIR }}",
        "options": {}
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "list-archive-photo",
      "name": "List Archive Photo",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 150]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "={{ $env.VPS_ARCHIVE_DIR }}",
        "options": {}
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "list-archive-video",
      "name": "List Archive Video",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 350]
    },
    {
      "parameters": {
        "operation": "list",
        "path": "={{ $env.VPS_ARCHIVE_DIR }}",
        "options": {}
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "list-archive-porn",
      "name": "List Archive Porn",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 550]
    },
    {
      "parameters": {
        "operation": "rename",
        "fromPath": "={{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}",
        "toPath": "={{ $env.VPS_ARCHIVE_DIR }}/{{ $json.archiveName }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "archive-photo-fallback",
      "name": "Archive Photo (Fallback)",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 150]
    },
    {
      "parameters": {
        "operation": "rename",
        "fromPath": "={{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}",
        "toPath": "={{ $env.VPS_ARCHIVE_DIR }}/{{ $json.archiveName }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "archive-video-fallback",
      "name": "Archive Video (Fallback)",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 350]
    },
    {
      "parameters": {
        "operation": "rename",
        "fromPath": "={{ $env.VPS_UPLOAD_DIR }}/{{ $json.originalFileName }}",
        "toPath": "={{ $env.VPS_ARCHIVE_DIR }}/{{ $json.archiveName }}"
      },
      "credentials": {"sftpApi": {"id": "YOUR_SFTP_CREDENTIAL_ID", "name": "SSH SFTP"}},
      "id": "archive-porn-fallback",
      "name": "Archive Porn (Fallback)",
      "type": "n8n-nodes-base.sftp",
      "typeVersion": 1.3,
      "position": [2100, 550]
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [{"node": "Check Lock File", "type": "main", "index": 0}]]
    },
    "Check Lock File": {
      "main": [
        [{"node": "No Op (Stop)", "type": "main", "index": 0}]]
    },
    "Photo Config": {
      "main": [
        [{"node": "If Photo", "type": "main", "index": 0}]]
    },
    "Video Config": {
      "main": [
        [{"node": "If Video", "type": "main", "index": 0}]]
    },
    "Porn Config": {
      "main": [
        [{"node": "If Porn", "type": "main", "index": 0}]]
    },
    "If Photo": {
      "main": [
        [{"node": "GDrive List Photos", "type": "main", "index": 0}],
        []
      ]
    },
    "If Video": {
      "main": [
        [{"node": "GDrive List Videos", "type": "main", "index": 0}],
        []
      ]
    },
    "If Porn": {
      "main": [
        [{"node": "GDrive List Porn", "type": "main", "index": 0}],
        []
      ]
    },
    "GDrive List Photos": {
      "main": [
        [{"node": "Random Pick Photo", "type": "main", "index": 0}]
      ]
    },
    "GDrive List Videos": {
      "main": [
        [{"node": "Random Pick Video", "type": "main", "index": 0}]
      ]
    },
    "GDrive List Porn": {
      "main": [
        [{"node": "Random Pick Porn", "type": "main", "index": 0}]
      ]
    },
    "Random Pick Photo": {
      "main": [
        [{"node": "GDrive Download Photo", "type": "main", "index": 0}]
      ]
    },
    "Random Pick Video": {
      "main": [
        [{"node": "GDrive Download Video", "type": "main", "index": 0}]
      ]
    },
    "Random Pick Porn": {
      "main": [
        [{"node": "GDrive Download Porn", "type": "main", "index": 0}]
      ]
    },
    "GDrive Download Photo": {
      "main": [
        [{"node": "SFTP Upload Photo", "type": "main", "index": 0}]
      ]
    },
    "GDrive Download Video": {
      "main": [
        [{"node": "SFTP Upload Video", "type": "main", "index": 0}]
      ]
    },
    "GDrive Download Porn": {
      "main": [
        [{"node": "SFTP Upload Porn", "type": "main", "index": 0}]
      ]
    },
    "SFTP Upload Photo": {
      "main": [
        [{"node": "Build Payload Photo", "type": "main", "index": 0}]
      ]
    },
    "SFTP Upload Video": {
      "main": [
        [{"node": "Build Payload Video", "type": "main", "index": 0}]
      ]
    },
    "SFTP Upload Porn": {
      "main": [
        [{"node": "Build Payload Porn", "type": "main", "index": 0}]
      ]
    },
    "Build Payload Photo": {
      "main": [
        [{"node": "HTTP Upload Photo", "type": "main", "index": 0}]
      ]
    },
    "Build Payload Video": {
      "main": [
        [{"node": "HTTP Upload Video", "type": "main", "index": 0}]
      ]
    },
    "Build Payload Porn": {
      "main": [
        [{"node": "HTTP Upload Porn", "type": "main", "index": 0}]
      ]
    },
    "HTTP Upload Photo": {
      "main": [
        [{"node": "Check Success Photo", "type": "main", "index": 0}]
      ]
    },
    "HTTP Upload Video": {
      "main": [
        [{"node": "Check Success Video", "type": "main", "index": 0}]
      ]
    },
    "HTTP Upload Porn": {
      "main": [
        [{"node": "Check Success Porn", "type": "main", "index": 0}]
      ]
    },
    "Check Success Photo": {
      "main": [
        [{"node": "List Archive Photo", "type": "main", "index": 0}],
        []
      ]
    },
    "Check Success Video": {
      "main": [
        [{"node": "List Archive Video", "type": "main", "index": 0}],
        []
      ]
    },
    "Check Success Porn": {
      "main": [
        [{"node": "List Archive Porn", "type": "main", "index": 0}],
        []
      ]
    },
    "List Archive Photo": {
      "main": [
        [{"node": "Archive Photo (Fallback)", "type": "main", "index": 0}]
      ]
    },
    "List Archive Video": {
      "main": [
        [{"node": "Archive Video (Fallback)", "type": "main", "index": 0}]
      ]
    },
    "List Archive Porn": {
      "main": [
        [{"node": "Archive Porn (Fallback)", "type": "main", "index": 0}]
      ]
    },
    "Archive Photo (Fallback)": {
      "main": [
        [{"node": "FIFO Cleanup", "type": "main", "index": 0}]
      ]
    },
    "Archive Video (Fallback)": {
      "main": [
        [{"node": "FIFO Cleanup", "type": "main", "index": 0}]
      ]
    },
    "Archive Porn (Fallback)": {
      "main": [
        [{"node": "FIFO Cleanup", "type": "main", "index": 0}]
      ]
    },
    "FIFO Cleanup": {
      "main": [
        [{"node": "Create Lock File", "type": "main", "index": 0}]
      ]
    },
    "Create Lock File": {
      "main": [
        [{"node": "Delete Lock File", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-14T00:00:00.000Z",
  "versionId": "5",
  "meta": {
    "templateCredsSetup": [
      {"name": "Google Drive OAuth2 API", "type": "n8n-nodes-base.googleDrive"},
      {"name": "SSH SFTP", "type": "n8n-nodes-base.sftp"},
      {"name": "TEVI Account", "type": "n8n-nodes-base.httpQuery"}
    ],
    "templateVariables": [
      {"name": "VPS_UPLOAD_DIR", "value": "/home/user/tevi-uploads"},
      {"name": "VPS_ARCHIVE_DIR", "value": "/home/user/tevi-uploads/archive"},
      {"name": "VPS_UPLOAD_URL", "value": "http://YOUR_VPS_IP:3004"},
      {"name": "VPS_LOCK_FILE", "value": "/home/user/tevi-uploads/.tevi-upload.lock"},
      {"name": "NOTIFY_EMAIL", "value": "you@email.com"}
    ]
  }
}
